<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="base" params="base_link prefix">
    
    <link name="${prefix}${base_link}">
      <inertial>
        <mass value="2.0"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
      </inertial>
      <!-- NO visual or collision elements -->
    </link>

  </xacro:macro>

</robot>